{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}{{ parent() }}

<br>
   
<div class="container">
<h2>Ocupación</h2>
  <p>Lista de categorias para la variable Ocupacion:</p>    
   <br> 
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>Id</th>
                <th>Descripcion</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
        {% for ocupacion in ocupacions %}
            <tr>
                <td>{{ ocupacion.id }}</td>
                <td>{{ ocupacion.descripcion }}</td>
                <td>
                    <a href="{{ path('ocupacion_show', {'id': ocupacion.id}) }}" class="btn btn-info btn-sm" alt="Ver"><span class="glyphicon glyphicon-eye-open"></span> Ver</a>
                    <a href="{{ path('ocupacion_edit', {'id': ocupacion.id}) }}" class="btn btn-warning btn-sm"
                         alt="Editar"><span class="glyphicon glyphicon-pencil"></span> Modificar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ocupacion_new') }}"class="btn btn-primary btn-sm" alt="Nuevo">
                        <span class="glyphicon glyphicon-plus"></span> Nuevo</a>
</div>
{% endblock %}
