{% extends 'base.html.twig' %}

{% block title %}EstadoIntox index{% endblock %}

{% block body %}
    <h1>EstadoIntox index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Descripcion</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for estado_intox in estado_intoxes %}
            <tr>
                <td>{{ estado_intox.id }}</td>
                <td>{{ estado_intox.descripcion }}</td>
                <td>
                    <a href="{{ path('estado_intox_show', {'id': estado_intox.id}) }}">show</a>
                    <a href="{{ path('estado_intox_edit', {'id': estado_intox.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('estado_intox_new') }}">Create new</a>
{% endblock %}
