{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}-Genero{% endblock %}

{% block body %}{{ parent() }}
<div class="container">
    <h2>Genero</h2>
    <h4>Lista de categorías para la variable género: </h4>    
  <br>   
  <div class="table-responsive-sm">
    <table class="table">
        <thead class="thead-light">
                <tr>
                <th>Id</th>
                <th>Descripcion</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
        {% for genero in generos %}
            <tr>
                <td>{{ genero.id }}</td>
                <td>{{ genero.descripcion }}</td>
                <td>
                    <a href="{{ path('genero_show', {'id': genero.id}) }}">show</a>
                    <a href="{{ path('genero_edit', {'id': genero.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

    <a href="{{ path('genero_new') }}">Create new</a>
</div>
{% endblock %}
