<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Centro de Analisis{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}

           <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
           <link rel="stylesheet" href="{{asset('css/styles.css')}}">
         
  
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
			
			 <script
                src="https://code.jquery.com/jquery-2.2.4.min.js"
                integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
                crossorigin="anonymous"></script>
              <script src="{{ asset('js/app.js') }}"></script>
           
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        {% block body %}
         <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <a class="navbar-brand" href="#">Hechos</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                {#<li class="nav-item">
                    <a class="nav-link" href="#">Hechos</a>
                </li>#}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('victima_index')}}">Victimas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Imputados</a>
                </li>#}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="" id="navbardrop" data-toggle="dropdown">
                    Variables victima
                    </a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="{{ path('ocupacion_index')}}">Ocupacion</a>
                      <a class="dropdown-item" href="{{ path('tipo_documento_index')}}">Tipo documento</a>
                      <a class="dropdown-item" href="{{ path('sexo_index')}}">Sexo</a>
                      <a class="dropdown-item" href="{{ path('genero_index')}}">Género</a>
                      <a class="dropdown-item" href="{{ path('ocupacion_index')}}">Ocupacion</a>
                    </div>
                </li>  
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Variables causa
                    </a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="{{ path('ocupacion_index')}}">Ocupacion</a>
                      <a class="dropdown-item" href="{{ path('tipo_documento_index')}}">Tipo documento</a>
                      <a class="dropdown-item" href="{{ path('sexo_index')}}">Sexo</a>
                      <a class="dropdown-item" href="{{ path('genero_index')}}">Género</a>
                      <a class="dropdown-item" href="{{ path('ocupacion_index')}}">Ocupacion</a>
                    </div>
                </li> 
                </ul>
             </div>  
        </nav>

<br>
        <div class="footerCentro">
             <P p class="destacado">Centro de Analisis Chaco - {{ "now"|date("Y") }}</p>
             
        </div>
   
        {% endblock %}

    </body>
   
</html>
