{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}-Victima{% endblock %}

{% block body %}{{ parent() }}
<div class="container">
   <h2>Registro de victimas</h2>
  <p>Registro de victimas:</p>    
   <br>   
  <div class="table-responsive-sm">
    <table class="table">
        <thead class="thead-light">
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>TipoDocumento</th>
                    <th>Numero</th>
                    <th>Genero</th>
                    <th>Ocupación</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for victima in victimas %}
                <tr>
                    <td>{{ victima.id }}</td>
                    <td>{{ victima.nombre }}</td>
                    <td>{{ victima.apellido }}</td>
                    <td>{{ victima.tipoDocumento }}</td>
                    <td>{{ victima.nroDocumento }}</td>
                    <td>{{ victima.genero }}</td>
                     <td>{{ victima.ocupacion }}</td>
                    <td>
                        <a href="{{ path('victima_show', {'id': victima.id}) }}" class="btn btn-info btn-sm" alt="Ver">
                        <span class="glyphicon glyphicon-eye-open"></span> Ver</a>
                          
                        <a href="{{ path('victima_edit', {'id': victima.id}) }}" class="btn btn-warning btn-sm"
                         alt="Editar"><span class="glyphicon glyphicon-pencil"></span> Modificar</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">No se encontraron registros</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('victima_new') }}"class="btn btn-primary btn-sm" alt="Nuevo">
                        <span class="glyphicon glyphicon-plus"></span> Nuevo</a>
  </div>
</div>
{% endblock %}
