{% extends 'base.html.twig' %}

{% block title %}Victima{% endblock %}

{% block body %}{{ parent() }}
    <h3 class="victima">Datos de la victima</h3>
    <br>
<div class="container">
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ victima.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ victima.nombre }}</td>
            </tr>
            <tr>
                <th>Apellido</th>
                <td>{{ victima.apellido }}</td>
            </tr>
            <tr>
                <th>TipoDocumento</th>
                <td>{{ victima.tipoDocumento }}</td>
            </tr>
            <tr>
                <th>Nro_documento</th>
                <td>{{ victima.nroDocumento }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('victima_index') }}" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-step-backward"></span>Volver</a>

    <a href="{{ path('victima_edit', {'id': victima.id}) }}" class="btn btn-warning btn-sm"
                         alt="Editar"><span class="glyphicon glyphicon-pencil"></span> Modificar</a>
</div>
   {# {{ include('victima/_delete_form.html.twig') }}#}
{% endblock %}
